body {
  margin: 0;
	padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}



.layout-container {
	display: grid;
	grid-template-columns: var(--layout-gutter-width) repeat(12, 1fr) var(--layout-gutter-width);
}

.cols-6 {
	grid-column: 5 / 11;
}
.cols-8 {
	grid-column: 4 / 12;
}
.cols-12 {
	grid-column: 2 / 14;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.cols-14 {
	grid-column: 1 / 15;
}


